#include <physical_layouts.dtsi>

/ {
    physical_layout_teenspirit: physical_layout_teenspirit {
        compatible = "zmk,physical-layout";
        display-name = "teenspirit";
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100  100    0       0   100     0>
            , <&key_physical_attrs 100 100  200    0       0   200     0>
            , <&key_physical_attrs 100 100  300    0       0   300     0>
            , <&key_physical_attrs 100 100  700    0       0   700     0>
            , <&key_physical_attrs 100 100  800    0       0   800     0>
            , <&key_physical_attrs 100 100  900    0       0   900     0>
            , <&key_physical_attrs 100 100    0  100       0     0   100>
            , <&key_physical_attrs 100 100  100  100       0   100   100>
            , <&key_physical_attrs 100 100  200  100       0   200   100>
            , <&key_physical_attrs 100 100  300  100       0   300   100>
            , <&key_physical_attrs 100 100  700  100       0   700   100>
            , <&key_physical_attrs 100 100  800  100       0   800   100>
            , <&key_physical_attrs 100 100  900  100       0   900   100>
            , <&key_physical_attrs 100 100 1000  100       0  1000   100>
            , <&key_physical_attrs 100 100  300  200       0   300   200>
            , <&key_physical_attrs 100 100  400  200       0   400   200>
            , <&key_physical_attrs 100 100  600  200       0   600   200>
            , <&key_physical_attrs 100 100  700  200       0   700   200>
            ;
    };
};
